<p>We work closely with our clients throughout every stage of the process of making their ideas happen:</p>
<ul>
  <li>understanding the business goals / processes</li>
  <li>identifying stages in the pipeline which might benefit from using a CV/ML approach</li>
  <li>researching the state of the art in the relevant field</li>
  <li>estimate the relative cost, time to market and expected performance of alternatives we find (or think of)</li>
  <li>solution design, implementation, testing, deployment and maintenance.</li>
</ul>