<p>As you can find out if you browse our profiles, we’re experienced with projects involving:</p>
<ul>
  <li>mapping objects in images to their positions in the real world</li>
  <li>classifying, locating, segmenting and recognizing objects in images, mostly (but not only) using neural nets</li>
  <li>designing, training and deploying neural nets for the above purposes, and some others, too (e.g., improving video quality)</li>
</ul>
<p>We’re also used to having to read a lot (research).
  This way we’ve been able to tackle a large variety of projects, as you can see in our CVs.</p>
<p><b>Note:</b> at some point, Bogdan took the time to write everything he could remember having used,
  in terms of tech, on his personal blog. It’s a lengthy (and rather boring) read,
  but if you want you can access it <a href="https://bbudescu.github.io/tech_specs/">here</a>.</p>