<p>Over time, we’ve used several technologies (programming languages, libraries, frameworks etc.)
    to build the stuff we’ve built, and, in the process, we’ve grown more or less accustomed to some of them:</p>
<ul>
    <li>Computer Vision: OpenCV (from both Python and C++), mahotas, scikit-image, scipy.ndimage</li>
    <li>Deep Learning: TensorFlow (Python for training & inference, C and Java for inference only),
        Keras, HyperOpt, scikit-learn, Caffe (C++, Python), Theano, pylearn2 (really old framework)</li>
    <li>deployment: Docker, OpenAPI, pipenv</li>
    <li>generic data processing: NumPy</li>
    <li>statistics: pandas, scipy.stats, statsmodels</li>
    <li>data visualization: matplotlib (+mpld3), seaborn, plotly</li>
    <li>GUI: Qt for Python (PyQt5, PyQt4, PySide)</li>
</ul>