<p>
    As you can see, we don’t have a proper portfolio web page yet, since we’ve been pretty busy
    doing what we do best for our clients, namely writing computer vision and deep learning code.
    We’re actually working on the portfolio, but it’s not ready yet. However, in the mean time,
    you can get a grip of what we’ve done until now by taking a look at our LinkedIn profiles.
    <a href="https://www.linkedin.com/in/bbudescu/">Here</a> is Bogdan’s,
    and <a href="https://www.linkedin.com/in/stefan-ghiviriga-93818913a/">here</a> is Ștefan’s.
</p>