<p>We want to grow. We have a strong predilection towards stability and, hence, we value long term commitments from our clients.
    Reciprocally, we offer long term commitments to our clients in return.
    As such, we usually prefer, e.g., hiring new developers for new clients as opposed over switching from one customer to the next.
    We also like to put our money where our mouth is, so we generally offer a significant discount for long-term contracts
    with the clients we already have a good history with.</p>